<!doctype html>
<html>
  <head>
    <title>Angular Full Name</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <style>
      body {
        font-family: Arial;
        padding: 20px;
      }
      input {
        padding: 8px;
        margin: 10px 0;
        width: 300px;
        font-size: 16px;
      }
      button {
        padding: 10px 20px;
        background-color: blue;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 16px;
      }
      h1 {
        color: rgb(9, 255, 214);
      }
    </style>
  </head>
  <body>
    <div ng-app="myApp" ng-controller="myCtrl">
      <h1>Full Name App</h1>

      <div>
        <label>First Name:</label>
        <input type="text" ng-model="firstName" />
        <br />
      </div>
      <div>
        <label>Last Name:</label>
        <input type="text" ng-model="lastName" />
        <br /><br />
      </div>

      <button ng-click="combineNames()">Show Full Name</button>

      <br /><br />

      <h1>Full Name: {{ fullName }}</h1>
    </div>

    <script>
      angular
        .module("myApp", [])

        .controller("myCtrl", function ($scope) {
          $scope.firstName = "Satar";
          $scope.lastName = "Khan";
          $scope.fullName = "";

          $scope.combineNames = function () {
            $scope.fullName = $scope.firstName + " " + $scope.lastName;
          };

          $scope.combineNames();
        });
    </script>
  </body>
</html>
